// colors

$primary: #2b2c3a;
$secondary: #6f6eff;
$active: #24cb8d;
$light: #ffffff;
$dark: #000000;

// $primary: #dee2e6;
// $secondary: #6f6eff;
// $active: #24cb8d;
// $light: #000000;
// $dark: #ffffff;

// font size

$font-size-exsm: 11px;
$font-size-sm: 12px;
$font-size-md: 13px;
$font-size-lg: 14px;
$font-size-xl: 16px;
$font-size-xxl: 22px;

// font weight

$font-normal: 400;
$font-bold: 600;
