.card-wrapper {
  height: 160px;
  position: relative;
  .card-small {
    background-color: rgba(156, 165, 236, 0.06);
    min-width: 100%;
    position: absolute;
    top: 15px;
    figure {
      .genre {
        background-color: $secondary;
        font-size: 12px;
        padding: 0.3em;
        border-radius: 3px;
        position: absolute;
        z-index: 10;
        left: 25px;
        top: 50px;
      }
      img {
        float: left;
        position: absolute;
        top: -15px;
        left: 10px;
      }
      figcaption {
        display: inline-block;
        padding: 5px;
        margin-left: 90px;
        padding-bottom: 20px;
        h3 {
          margin-bottom: 10px;
        }
        p {
          opacity: 0.5;
        }
      }
    }
    figure::after {
      content: "";
      display: table;
      clear: both;
    }
    .card__points {
      margin-top: 15px;
      border-top: 1px solid gray;
      padding: 16px 5px;

      .points {
        display: inline-block;
        float: left;
        line-height: 35px;
        margin-bottom: 10px;
        margin-left: 5px;
        svg.logo {
          @include points-icon(#6f6eff);
          vertical-align: middle;
        }
        svg.bolt {
          @include points-icon(#ff4738);
          vertical-align: middle;
        }
        p {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          margin-right: 10px;
        }
      }
      .accept-button {
        float: right;
        margin-bottom: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  }
}
