header {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: rgba(156, 165, 236, 0.04);

  nav {
    .logo {
      width: calc(100% - 60px);
      margin: auto;
      position: relative;
      padding-top: 8px;
      padding-bottom: 8px;
      h1 {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        line-height: 0.83;
        letter-spacing: 1px;
      }
      p {
        display: inline-block;
      }
    }
    .dropdown {
      a {
        svg.bi-chevron-down {
          display: inline;
        }
        svg.bi-chevron-up {
          display: inline;
        }
        svg.bi-chevron-down.hide {
          display: none;
        }
        svg.bi-chevron-up.hide {
          display: none;
        }
      }
      .nav-menu {
        display: block;
        letter-spacing: 1px;
        padding: 15px 30px 15px 30px;
        svg {
          float: right;
        }
      }
      .dropdown__content {
        .nav-sub-menu {
          display: block;
          padding: 15px 0 15px 50px;
          opacity: 50%;
          svg {
            margin-right: 25px;
          }
        }
      }
    }
    .dropdown.main {
      padding-top: 15px;
      border-top: 1px solid rgba(216, 216, 216, 0.6);
    }
    .my-games {
      padding: 15px 0 15px 30px;

      border-top: 1px solid rgba(216, 216, 216, 0.6);
      border-bottom: 1px solid rgba(216, 216, 216, 0.6);

      svg {
        margin-right: 15px;
      }
    }
  }
}
nav {
  a {
    position: relative;
    svg {
      fill: #fff;
    }
  }
  a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 100;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
  }
  a:hover::after {
    transform: scaleX(1);
    border-left: 3px solid $secondary;
  }
  a:hover {
    svg {
      fill: #6f6eff;
    }
  }
}
header {
  .dropdown {
    .dropdown__content.hide {
      display: none;
    }
  }
}
.bi-list {
  display: none;
}

.tag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  header {
    display: none;
  }
  header.show {
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #2b2c3a;
    display: inline-block;
    width: 80%;
  }
  .bi-list {
    display: inline-block;
    position: relative;
    left: 10%;
    top: 50px;
  }
  .bi-list.hide {
    display: none;
  }
}
