.profile {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  .profile__nav {
    padding: 30px 30px;
    float: left;
    a {
      margin-right: 30px;
      opacity: 0.6;
    }
    .dropdown {
      svg {
        margin-left: 5px;
      }
    }
    .dropdown__content {
      position: absolute;
      display: none;
      a {
        display: block;
        opacity: 1;
        padding: 6px 0px;
      }
    }
    .dropdown:hover {
      .dropdown__content {
        display: block;
      }
    }
  }
  .profile__info {
    float: right;
    position: relative;
    .points {
      float: left;
      position: absolute;
      top: 50%;
      left: -120%;
      transform: translate(0, -50%);
      .uproar-points {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px;
        border-radius: 3px;
        display: table;
        margin: 0;
        float: left;
        margin-right: 15px;
        svg {
          @include points-icon(#6f6eff);
        }
        p {
          display: table-cell;
          vertical-align: middle;
          span {
            margin-left: 13px;
          }
        }
      }
      .bolt-points {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px;
        border-radius: 3px;
        display: table;
        margin: 0;
        float: right;
        margin-right: 15px;
        svg {
          @include points-icon(#ff4738);
        }
        p {
          display: table-cell;
          vertical-align: middle;
          span {
            font-size: 11px;
            font-weight: 600;
            opacity: 0.6;
            line-height: 0.91;
          }
        }
      }
    }
    .profile-details {
      float: left;
      display: table;
      img {
        float: left;
      }
      div {
        display: table-cell;
        vertical-align: middle;
        .status {
          color: #24cb8d;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .profile {
    text-align: center;
    .profile__nav {
      display: none;
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .profile {
    .profile__nav {
      display: none;
    }
  }
}
