.wrapper {
  float: right;
  width: 80%;
  //   border: 1px solid red;
  .profile {
    width: calc(100% - 110px);
    margin: auto;
  }
  .weekly-quests {
    width: calc(100% - 110px);
    margin: auto;
  }
  .popular {
    width: calc(100% - 110px);
    margin: auto;
  }
}
