.wrapper {
  float: right;
  width: 80%;
  //   border: 1px solid red;
  .profile {
    width: calc(100% - 110px);
    margin: auto;
  }
  .weekly-quests {
    width: calc(100% - 110px);
    margin: auto;
  }
  .popular {
    width: calc(100% - 110px);
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .wrapper {
    float: none;
    width: 95%;
    margin: auto;
    .profile {
      width: calc(100% - 60px);
      margin: auto;
    }
    .weekly-quests {
      width: calc(100% - 60px);
      margin: auto;
    }
    .popular {
      width: calc(100% - 60px);
      margin: auto;
    }
  }
}
